body {
  margin: 0;
  text-align: center;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(images/malmo.webp);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
  min-height: 500px;
  max-height: 100vh;
}

.hero-text {
  color: #ffffff;
  background-color: #1d3557;
  border-radius: 10px;
  width: 180px;
  height: 42px;
  left: 247px;
  top: 119px;
}

.hero-subtext {
  color: #ffffff;
  background-color: #457b9d;
  border-radius: 10px;
  width: 411px;
  height: 60px;
  left: 154px;
  top: 172px;
}

.activities {
  padding-top: 20px;
  background-color: #f1faee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
}

.activities-header {
  color: #1d3557;
  padding-bottom: 20px;
}

#sc,
#em,
#ma {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  align-content: center;
  border-radius: 50%;
  margin: auto;
  width: 150px;
  height: 150px;
}

.activities-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #1d3557;
  padding-bottom: 25px;
  padding-right: 25px;
  padding-left: 25px;
}

.outer-guide {
  padding-top: 35px;
  padding-bottom: 35px;
}

.guide {
  width: 400px;
  height: 190px;
  margin: auto;
  background-color: #a8dadc;
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
  border-bottom: 5px solid #1d3557;
}

.guide-image {
  padding: 10px;
  border-radius: 25%;
  height: 150px;
  width: 80px;
}

.guide-text p,
h3,
h5 {
  color: #1d3557;
}

p {
  font-style: italic;
}
